@{
    ViewBag.Title = "Контакты";
}

<div class="container d-flex align-items-center justify-content-center" style="height: 75vh;">
    <div class="row">
        <div class="col-md-6">
            <h3>@ViewData["Contacts"]</h3>
            @if (User?.IsInRole("Admin") == true)
            {
                <a type="submit" class="btn btn-primary mt-3" asp-controller="Contacts" asp-action="ChangeContacts">Изменить текст</a>
            }
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="~/images/map.jpg" class="img-fluid" alt="Изображение контактов">
            </div>
        </div>
    </div>
</div>